<div class="container">

  <h1> Reddit </h1>
  <h4> Where would you like to escape to today? </h4>

  <% @posts.each do |post| %>
  <div class="well col-md-8 ">

          <a  <span class="glyphicon glyphicon-arrow-up "  <%= link_to "", upvote_path(id: post.id)%>  </span> </a>
              <%= post.votes %>
          <a <span class="glyphicon glyphicon-arrow-down" <%= link_to "", downvote_post_path(id: post.id)%></a>

            <%= link_to post.title, (post.link)  %>
            <p> <em>Posted:</em> <%=distance_of_time_in_words_to_now post.created_at %> </p>
    </div>
    <% end %>
    <br>

</div>
